:root { 
  --accordion-border: var(--base-border);
  --accordion-padding: 1rem 1rem;
}

.wu-accordion-button{
  width: 100%;
  display: flex;
  justify-content: space-between;
  border: var(--accordion-border);
  padding: var(--accordion-padding);
}

.wu-accordion-body {
  border: var(--accordion-border);
  padding: var(--accordion-padding);
}